@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,400&display=swap');

:root {
    --color-primary:#30bdc2;
    --transition-time: 200ms;
    --raduis: 8px;
}

:root.light {
    --color-text: black;
    --color-background: white;
    --color-bg-button: #1a1a1a;
}

:root.dark {
    --color-text: white;
    --color-background: #242424;
    --color-bg-button: rgba(245, 245, 245, 0.85);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;;
    font-size: 10px;
    background-color: var(--color-background);
    color: var(--color-text);
    transition: background-color var(--transition-time), color var(--transition-time);
}

a {
    color: inherit;
    text-decoration: none;
}