button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0.6em 1.2em;
    color: var(--color-text);
    background-color: var(--color-primary);
    border-radius: 20px;
    border: 2px solid transparent;
    font-weight: bold;
    font-family: inherit;
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    cursor: pointer;
    transition: border-color var(--transition-time);
    box-shadow: 0 5px 10px 0 #30bdc289;
}

/* icon */
button img {
    width: 20px;
}